[submodule "lib/dyson/modules/core"]
	path = lib/dyson/modules/core
	url = git@github.com:dyson-framework/dyson-modules-core.git
[submodule "lib/dyson/modules/extras"]
	path = lib/dyson/modules/extras
	url = git@github.com:dyson-framework/dyson-modules-extras.git
